* {
    padding: 0;
}

body {
    font-family: Helvetica;
}

img {
    max-width: 70%;
    max-height: 70%;
}

table {
    display: inline-block;
    margin: 1%;
    background-color: rgba(240, 237, 206, 0.7);
    color: #4C2F1C;
    margin-left: 15%;
    margin-right: 15%;
}


.cover {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
}

td {
    color: black;
}
