* {
    margin: 0;
    padding: 0;
}

.footer {
    height: 240px;
    background-color: #F4F0EF;
    border-top: 2px solid #CECBCB;
}

.footer-container {
    display: flex;
    margin: 0 auto;
    width: 800px;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
}

.footer__list {
    margin-top: 40px;
}

.footer-list-1__header, .footer-list-2__header, .footer-list-3__header {
    color: #9C9C9A;
    font-size: 16px;
}

.footer-container a {
    display: block;
    color: #9C9C9A;
    font-size: 14px;
    margin-top: 8px;
    text-decoration: none;
}