extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/books-browse.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')

block content
    div
      table
        thead(class='thead-dark')
            tr
              th(scope='col') Author
              th(scope='col') Titles
        tbody
            each author in authors
              tr
                td= author.firstName+' '+author.lastName
                td
                  each book in author.Books
                    div= book.title
