extends layout.pug

append head
	link(rel='stylesheet' href='/public/css/book-page.css')
	link(rel="stylesheet" href="/public/css/header.css")
	link(rel='stylesheet' href='/public/css/footer.css')
	script(src='/public/js/book.js' type='module' defer)
block content
	.page-container
		.hidden #{bookId}
		.title-container
			#title
			.series-container
				h2#series
			.author-container
				#author
		.cover-container
			img#cover
		div(class='select-shelves-placeholder') <span class='bookshelves-text'>Manage Bookshelves</span>
			span(class='shelf-arrow-placeholder') ▾
			form
				.shelve-list-container.hidden
					ul.shelves__dropdown--default-checks
						li.currently-reading
							label(for='currently-reading') Currently Reading
							input(type='radio' id='currently-reading' name='defaultShelf')
						li.read
							label(for='read') Read
							input(type='radio' id='read' name='defaultShelf')
						li.want-to-read
							label(for='want-to-read') Want to Read
							input(type='radio' id='want-to-read' name='defaultShelf')
					ul.shelves__dropdown--created-shelves
		.sum-container
			#summary
		.review-container
			table#reviews
				tr#review-title
					th Reviews
