extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')
    link(rel='stylesheet' type='text/css' href='/public/css/edit-bookshelves.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    script(src='/public/js/edit-bookshelves.js')

block content
    include include/header.pug
    .body-header-container

    include include/footer.pug