extends layout.pug

append head
  link(rel="stylesheet", href="/public/css/header.css")
  link(rel='stylesheet' href='/public/css/footer.css')
  link(rel='stylesheet' href='/public/css/my-books.css')

block content
  .page-not-found
  h1 Page Not Found
