extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/books-browse.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')

block content
    div
      table
        thead(class='thead-dark')
          tr
            th(scope='col') Genre
            th(scope='col') Series
        tbody
          each genre in genres
            tr
              td= genre.name
              td
                each series in genre.Series
                  div= series.name
