<!DOCTYPE html>
html(lang="en")
    block head
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            script(src="/public/js/header.js" type='module' defer)
            title= title
    body
        include include/header.pug
        block content
        include include/footer.pug
