extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/books-browse.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')

block content
  h1 Uh oh we couldn't find anything!
