footer.footer
    .footer-container
        .footer__list.footer__list--list-1
            h5(class='footer-list-1__header') MORE INFO
            ul(class='footer-list footer-list-1__list')
                li: a(href='https://github.com/PanosPHL/aAGoodreads') GitHub Repo
        .footer__list.footer__list--list-2
            h5(class='footer-list-2__header') LINKEDIN PROFILES
            ul(class='footer-list footer-list-2__list')
                li: a(href="") Jerel Smith
                li: a(href="") Dylan Besonen
                li: a(href="") Panayiotis Dimopoulos
        .footer__list.footer__list--list-3
            h5(class='footer-list-3__header') CONNECT
            .footer__list-3--image-container